<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ethoca - Shopping Cart</title>

    <link rel="icon"   type="image/x-icon" href="resources/static/images/favicon.png" />
    <link type="text/css" th:href="@{../css/bootstrap.min.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{../css/ethoca.css}" rel="stylesheet" /> <!--href="../../static/css/ethoca.css"-->

    <script th:src="@{../js/jquery.js}"></script> <!--src="../../static/js/jquery.js"-->
    <script th:src="@{../js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ethoca</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/test">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div style="display: table; margin: auto;">
                    <span class="step step_complete"> <a href="/cart" class="check-bc">Cart</a> <span class="step_line step_complete"> </span> <span class="step_line backline"> </span> </span>
                    <span class="step step_complete"> <a href="#" class="check-bc">Checkout</a> <span class="step_line "> </span> <span class="step_line step_complete"> </span> </span>
                    <span class="step_thankyou check-bc step_complete">Confirmation</span>
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row cart-body">
        <div class="form-horizontal" >
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
            <!--REVIEW ORDER-->
            <div class="panel panel-info">
                <div class="panel-heading" th:if="${cartModel != null}">Review Order</div>
                <div class="panel-body">

                    <div th:each="cartItem : ${cartModel.cartItems}">
                    <div class="form-group">
                        <div class="col-sm-2 col-xs-2">
                            <img class="img-responsive" th:src="@{${cartItem.productModel.thumbnailUrl}}"  />
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="col-xs-12" th:text="${cartItem.productModel.title}"></div>
                            <div class="col-xs-12"><small>Quantity:<span th:text="${cartItem.productQty}"></span></small></div>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-right">
                            <h5 th:text="'$ '+${cartItem.totalPrice}"></h5>
                        </div>
                    </div>
                    <div class="form-group"><hr /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <strong>Subtotal</strong>
                            <div class="pull-right"><h5 th:text="'$ '+${cartModel.subTotal}"></h5></div>
                        </div>
                        <div class="col-xs-12">
                            <small>Tax (HST)</small>
                            <div class="pull-right"><h5 th:text="'$ '+${cartModel.taxAmount}"></h5></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <strong>Order Total</strong>
                            <div class="pull-right"><h4 th:text="'$ '+${cartModel.totalWithTax}"></h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--REVIEW ORDER END-->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">

            <form id="shippingAddress" role="form" method="post" th:object="${addressForm}" th:action="@{/cart/checkout}">
                <div class="panel panel-info">
                    <div class="panel-heading">Address</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h4>Shipping Address</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-xs-12">
                                <strong>First Name:</strong>
                                <input type="text" class="form-control"  th:field="*{firstName}" th:required="required"/> <!--th:value="${firstName}"-->
                            </div>
                            <div class="span1"></div>
                            <div class="col-md-6 col-xs-12">
                                <strong>Last Name:</strong>
                                <input type="text" class="form-control" th:field="*{lastName}" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Address:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{address}" th:required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>City:</strong></div>
                            <!--<div class="col-md-12">
                                <input type="text" class="form-control"th:field="*{city}" th:required="required"/>
                            </div>-->
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{city}" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>State:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{state}" th:required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" th:field="*{zip}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Country:</strong></div>
                            <div class="col-md-12">
                                <input type="text" class="form-control"  th:field="*{country}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Phone Number:</strong></div>
                            <div class="col-md-12"><input type="text" class="form-control" th:field="*{phoneNumber}"/></div>
                        </div>
                    </div>
                    <div>
                        <input th:type="submit" class="form-control btn btn-primary" value="Place Order"/>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
    </div>
</body>
</html>