<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->

    <link rel="icon"   type="image/x-icon" href="resources/static/images/favicon.png" />
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" th:href="@{https://fonts.googleapis.com/css?family=Ubuntu+Mono}"
          rel="stylesheet" type="text/css" />

    <title>Ethoca Shopping Cart</title>
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ethoca</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/test">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

</div>
<!-- /.container -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img th:src="@{${book.imageUrl}}" alt="book cover" class="image-responsive"/>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1 th:text="${book.title}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 th:text="${book.author}"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">Vintage</span>
                    <span class="monospaced">No. 1960140180</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description" th:text="${book.description}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price" th:text="'$'+${book.price}"></h2>
                </div>
            </div>
            <div class="row add-to-cart">
                <div class="col-md-5 product-qty">
<!--  <span class="btn btn-default btn-lg btn-qty">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </span>-->
                    <input class="btn btn-default btn-lg btn-qty" value="1" />
    <!--  <span class="btn btn-default btn-lg btn-qty">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
  </span>-->
                </div>

               <div class="col-md-4">
                    <button class="btn btn-lg btn-brand btn-full-width">
                        Add to Cart
                    </button>
               </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="monospaced">In Stock</span>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12 bottom-rule top-10"></div>
            </div><!-- end row -->
        </div>
    </div>

    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ethoca.</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer -->

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
-->
<script src="../../static/js/jquery.js" th:src="@{js/jquery.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>